<<<<<<< HEAD
body  {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
}
 

header {
  background: #2196f3;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.section {
  padding: 40px;
  background: white;
  margin: 30px auto;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #1976d2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
=======
body  {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
}
 

header {
  background: #2196f3;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.section {
  padding: 40px;
  background: white;
  margin: 30px auto;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #1976d2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
>>>>>>> 6c5336af878f66a76450a87f18cf8c3633f0941a
}